// Link

.default-link {
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;

    p {
        font-size: 16px !important;
        margin: 0;
    }

    &__light,
    &__light:hover {
        color: $sbs-primary-white;
    }

    &__dark,
    &__dark:hover {
        color: $sbs-primary-black;
    }

    svg {
        margin-left: 10px;
        height: 100%;
        transform: translateX(0px);
        transition: transform 100ms ease-in-out;
    }

    &:hover {
        text-decoration: underline;

        svg {
            transform: translateX(10px);
        }
    }
}