// Colors

//Primary colors
$sbs-primary-orange: #EC6608;
$sbs-primary-dark-blue: #003A59;
$sbs-primary-white: #FFFFFF;
$sbs-primary-black: #000000;

// Tonal Pallette
$sbs-tonal-orange: #F98C3F;
$sbs-tonal-dark-blue: #002B42;
$sbs-tonal-blue: #015988;
$sbs-tonal-light-blue: #C2E9FF;
$sbs-tonal-lighter-blue: #E3F5FF;
$sbs-tonal-darker-blue: #041221;