// Variables

:root {
    --h1-large-font-size: 70px;
    --h1-large-line-height: 80px;
    --h1-small-font-size: 40px;
    --h1-small-line-height: 50px;
    --h2-large-font-size: 50px;
    --h2-large-line-height: 70px;
    --h2-small-font-size: 30px;
    --h2-small-line-height: 40px;
    --h3-large-font-size: 34px;
    --h3-large-line-height: 44px;
    --h3-small-font-size: 28px;
    --h3-small-line-height: 38px;
    --h4-large-font-size: 28px;
    --h4-large-line-height: 38px;
    --h4-small-font-size: 24px;
    --h4-small-line-height: 34px;
    --p-font-size: 24px;
    --p-line-height: 34px;
    --body-copy-font-size: 18px;
    --body-copy-line-height: 34px;
    --border-radius: 12px;
    --box-shadow: -1px 5px 7px 7px rgba(0,0,0,0.43);
}