// Projects Panel Button

.projects-panel-button {
    height: var(--projects-button-size);
    width: var(--projects-button-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    transition: background-color var(--default-transition);

    @include media-breakpoint-up(lg) {
        border-right: 1px solid $sbs-primary-white;
    }

    @include media-breakpoint-down(lg) {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        border-bottom: 1px solid $sbs-primary-white;
    }

    &:hover {
        background-color: $sbs-tonal-blue;
    }

    &:first-of-type {
        @include media-breakpoint-up(lg) {
            border-bottom: 1px solid $sbs-primary-white;
        }

        @include media-breakpoint-down(lg) {
            border-left: 1px solid $sbs-primary-white;
        }
    }
}