// Testimonial Card

.testimonial-card {
    transition: all var(--default-transition);
    border-radius: 0 !important;
    border: none !important;

    &__rating {
        border: 1px solid $sbs-primary-orange;
        width: fit-content;
        border-radius: var(--button-style-border-radius);

        &-star {
            display: inline-block;
            height: 50px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .body-copy {
        padding-right: 10%;
    }
}