// Base

main {
    overflow: hidden;
}

.js-fade {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.fade-scrolled {
    opacity: 1;
}

.js-right {
    right: -20%;
    transition: right 300ms ease-in-out;
}

.right-scrolled {
    right: 0;
}

.js-left {
    left: -40%;
    transition: left 300ms ease-in-out;
}

.left-scrolled {
    left: 0;
}