// CTA Panel

.cta-panel {
    padding: 100px 0;
    background-color: $sbs-primary-dark-blue;
    color: $sbs-primary-white;
    transition: all var(--default-transition);
    overflow: hidden;
    position: relative;

    &__inner {
        padding: 75px 0;
        background-color: $sbs-tonal-dark-blue;
        position: relative;
        overflow: hidden;
    }
}