// Partner Panel

.partner-panel {
    padding: 0 0 50px 0;
    height: 300px;
    position: relative;

    &__carousel-container {
        margin: auto;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    &__carousel {
        display: flex;

        &-item {
            width: 175px !important;
            cursor: pointer;
        }
        

        @include media-breakpoint-down(lg) {
            overflow: visible;
            white-space: break-spaces;
        }
    }

    .flickity-enabled {
        &:focus-visible {
            outline: none;
        }

        .flickity-viewport {
            border-top: 1px solid $sbs-primary-black;
            border-bottom: 1px solid $sbs-primary-black;
        }
    }
}