// Partner Panel

.partner-panel {
    padding: 0 0 50px 0;
    position: relative;

    &__logo-container {
        border-top: 1px solid $sbs-tonal-dark-blue;
        border-bottom: 1px solid $sbs-tonal-dark-blue;
    }
}