// Products Carousel

.products-carousel {
    padding: 50px 0;
    background-color: $sbs-tonal-lighter-blue;

    .container-fluid:nth-child(1) {
        border-top: 1px solid $sbs-primary-dark-blue;
        border-bottom: 1px solid $sbs-primary-dark-blue;
    }

    &__header {
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
    }

    &__button-container {
        height: 150px;
        
        @include media-breakpoint-down(lg) {
            width: 50%;
            justify-content: space-between;
        }

        @include media-breakpoint-up(lg) {
            border-left: 1px solid $sbs-primary-dark-blue;
        }
    }

    .flickity-enabled {
        &:focus-visible {
            outline: none;
        }

        .flickity-viewport {
            margin-top: 50px;
        }
    }
}