// Testimonials Carousel

.testimonials-carousel {
    padding: 50px 0;
    background-color: $sbs-tonal-light-blue;

    @include media-breakpoint-down(lg) {
        padding-bottom: 0;
    }

    .container-fluid:nth-child(2) {
        background-color: $sbs-tonal-light-blue;
    }

    &__header {
        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }
    }

    &__wrapper {
        background-color: $sbs-primary-white;
        margin: 3rem 0;

        @include media-breakpoint-down(lg) {
            overflow: visible !important;
            white-space: break-spaces !important;
            margin-bottom: 0;
        }
    }

    .carousel:after {
        content: '';
    }

    .carousel:after {
        @include media-breakpoint-up(lg) {
            content: 'flickity';
            display: none;
        }
    }

    .flickity-enabled {
        background-color: $sbs-primary-white;
        overflow: hidden;
    
        &:focus-visible {
            outline: none;
        }

        .flickity-viewport {
            margin-top: 50px;
            padding: 0 3rem;
        }
    }
}