// Testimonials Carousel

.testimonials-carousel {
    padding: 50px 0;
    background-color: $sbs-tonal-light-blue;

    .container-fluid:nth-child(2) {
        background-color: $sbs-tonal-light-blue;
    }

    &__wrapper {
        background-color: $sbs-primary-white;
    }

    &__button-container {

    }
}