// Text With Image Panel

.text-with-image-panel {
    padding: 100px 0;

    @include media-breakpoint-down(lg) {
        padding: 50px 0;
    }

    &__row {
        @include media-breakpoint-down(lg) {
            flex-direction: column-reverse;
        }
    }

    &__text {
        @include media-breakpoint-up(lg) {
            padding-left: 8% !important;
        }
    }
}