// Homepage Header

.homepage-header {
    background-color: $sbs-tonal-blue;
    color: $sbs-primary-white;
    height: 100%;
    padding: 50px;
    @include media-breakpoint-up(lg) {
        min-height: 100vh;
    }

    .vertical-cta {
        position: absolute;
        top: calc(-1 * (var(--vertical-cta-padding-x) * 2));
        right: calc(-1 * (var(--vertical-cta-padding-y) * 3));
    }

    &__sub-heading {
        margin-bottom: 25%;
    }

    .projects-panel {
        background-color: $sbs-primary-dark-blue;
        /* border-radius: var(--border-radius); */
        box-shadow: var(--box-shadow);

        @include media-breakpoint-down(lg) {
            flex-direction: column;
        }

        .container {
            @include media-breakpoint-up(lg) {
                padding-left: 3rem;
            }
        }

        &__inner {
            flex-direction: column;
        
            @include media-breakpoint-down(lg) {
                flex-direction: row-reverse;
            }
        }

        h3 {
            width: 20%;
        }

        &__link {
            @include media-breakpoint-down(lg) {
                justify-content: center !important;
            }
        }

        &__image {
            width: 100%;
            
            @include media-breakpoint-down(lg) {
                height: 120px;
            }
        }
        
    }

    svg {
        transform: 'translateX(0px) translateY(0px)';
        transition: all 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    }
}