// Homepage Header

.homepage-header {
    background-color: $sbs-tonal-blue;
    color: $sbs-primary-white;
    height: 100vh;

    .vertical-cta {
        position: absolute;
        top: calc(-1 * (var(--vertical-cta-padding-x) * 2));
        right: calc(-1 * (var(--vertical-cta-padding-y) * 3));
    }

    &__sub-heading {
        margin-bottom: 25%;
    }

    .projects-panel {
        background-color: $sbs-primary-dark-blue;
        height: 200px;
        /* border-radius: var(--border-radius);
        box-shadow: var(--box-shadow); */
    }
}