// Homepage Header

.homepage-header {
    background-color: $sbs-tonal-blue;
    color: $sbs-primary-white;
    min-height: 100vh;
    height: 100%;
    padding: 50px;

    .vertical-cta {
        position: absolute;
        top: calc(-1 * (var(--vertical-cta-padding-x) * 2));
        right: calc(-1 * (var(--vertical-cta-padding-y) * 3));
    }

    &__sub-heading {
        margin-bottom: 25%;
    }

    .projects-panel {
        background-color: $sbs-primary-dark-blue;
        /* border-radius: var(--border-radius); */
        box-shadow: var(--box-shadow);

        h3 {
            width: 20%;
        }

        &__image {
            width: 100%;
            border: 10px solid $sbs-primary-dark-blue;
            border-radius: var(--border-radius);
        }
        
    }
}